/* 
    Created on : 25 oct 2024, 18:40:41
    Author     : Katt
*/
.dark{
    background-color: #3a3a3a;
    color: #b5b5b5;
}

.light{
    background-color: #f4f4f4;
    color: #535656;
}

.container{
    width: 100%;
    height: 100vh;    
}

.body{
    padding:0;
    margin:0;
}
